body{
	margin:0;
	padding:0;
}
body{
	background-color: #E80036;
}

.wrapper {
	width:fixed;
	height:400px;
	border:25px solid #E80036;
	}

	/*horizontal bar*/

#prvi a {
	text-decoration:none;
	color:black;
	margin-bottom:51px;
}

#prvi {
	background-color:#054B4F;
	
}

#prvi a:hover {
	background-color:#E80036;

}


#horizontal-nav {
	text-align: center;
}

#horizontal-nav li {
	display:inline;
	font-size:70px;
	padding:15px;
}


/*vertical bar*/

#vertical-nav {
	text-align: center;
}
#vertical-nav li {
	font-size:60px;
	list-style-type:none;
	padding:10px;
	margin-top:15px;
	margin-right:30px;

}

#drugi a {
	text-decoration:none;
	color: black;
}

#drugi a:hover {
	color:#054B4F;
}
